<h1>Editing Interest</h1>


<%= form_for :interest, :url => update_all_answers_path, :html => { :method => :put } do %>
  <table>
    <thead>
      <tr>
      <th width="5%"> </th>
      <% ["Never", "Rarely" ,"Sometimes"].each do |key| %>
                    <th width="5%"> <%= key %> </th>
      <% end %>
      <th width="45%">  </th>
    </tr>
    </thead>
    <tbody>
      <% count_main = 1 %>
        <% @interests.each do |key,val| %>
          <tr>
          <td> <%= count_main %></td>
          <% count = 1 %>
          <% ["Never", "Rarely" ,"Sometimes"].each do |key1| %>
            <% if count == 3 %>
              <td> <%= radio_button_tag(count_main, count) %></td>
              <% else %>
              <td> <%= radio_button_tag(count_main , count) %></td>
              <% end %>
              <% count += 1 %>
          <% end %>
          <td> <%= key["question"] %></td>
        </tr>
        <% count_main += 1 %>
      <% end %>
    </tbody>
  </table>

  <div class="actions">
    <%= submit_tag %>
  </div>
<% end %>