<p id="notice"><%= notice %></p>


<td><%= @interest.question%></td>
          <td><%= @interest.answer%></td>
<%= link_to 'Edit', edit_interest_path(@interest) %> |
<%= link_to 'Back', interests_path %>
